.nosotros {
    font-family: "Urbanist", sans-serif;
    font-size: 16px;
    font-weight: lighter;
    margin-top: 2rem;
    text-align: center;
  }
  .nosotros .nosotros h1 {
    font-size: 30px;
    background-color: rgba(113, 113, 114, 0.356);
  }
  
  .img-fluid {
    max-width: 100%;
    height: auto;
    margin-top: 1rem;
  }
  
  .mapa-fluid {
    max-width: 100%;
    height: auto;
  }
  
  .Vision {
    background-color: rgba(160, 71, 133, 0.719);
    margin-left: 5rem;
    margin-right: 5rem;
    color: black;
    justify-content: center;
    text-align: center;
    font-family: "Josefin Slab", serif;
    font-size: 1.2rem;
  
  }
  
  .Mision {
    background-color: rgba(160, 71, 133, 0.719);
    margin-left: 5rem;
    margin-right: 5rem;
    padding-top: 2rem;
    color: black;
    justify-content: center;
    text-align: center;
    font-family: "Josefin Slab", serif;
    font-size: 1.2rem;
  }