.nosotros-nac {
    font-family: "Urbanist", sans-serif;
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
  }
  
  .lugares {
    font-family: "Josefin Slab", serif;
    font-size: 1.3rem;
    text-align: center;
  }
  
  .carousel {
    margin-bottom: 1rem;}